body {
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Solitreo', cursive;
    background-color: white;
}

header {
    height: 1%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
}

header h1 {
    margin-left: 40%;
    margin-right: 20%;
}

.conteudo {
    padding: 30px;
    color: black;
}

.conteudo h1 {
    color: black;
    display: flex;
    justify-content: center;
}

.conteudo img {
    max-width: 600px;
    width: auto;
    height: auto;
}

p {
    margin: 8px;
    font-size: 20px;
}

img {
    margin: 8px;
}

a {
    color: white;
    display: inline-block;
    margin-right: 2%;
}

i {
    font-size: 30px;
    margin-top: 80%;
    transition: 0.5s;
}

#github:hover {
    border-radius: 25px;
    transition: 0.5s;
    transform: scale(1.2);
}

#linkedin:hover {
    color: #0e76a8;
    transition: 0.5s;
    transform: scale(1.2);
}

#email:hover {
    color: #0072C6;
    transition: 0.5s;
    transform: scale(1.2);
}

#calculadora:hover {
    border-radius: 25px;
    transition: 0.5s;
    transform: scale(1.2);
}