body {
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Solitreo', cursive;
    background-color: white;
}

header {
    height: 1%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
}

header h1 {
    margin-left: 40%;
    margin-right: 20%;
}

.conteudo {
    padding: 30px;
    color: black;
}

.conteudo h1 {
    color: black;
    display: flex;
    justify-content: center;
}

p {
    margin: 8px;
    font-size: 20px;
}

img {
    margin: 8px;
    max-width: 600px;
    width: auto;
    height: auto;
}

a {
    color: white;
    display: inline-block;
    margin-right: 2%;
}

.conteudo a{
    color: black;
}

i {
    font-size: 30px;
    margin-top: 80%;
    transition: 0.5s;
}

#github:hover {
    border-radius: 25px;
    transition: 0.5s;
    transform: scale(1.2);
}

#linkedin:hover {
    color: #0e76a8;
    transition: 0.5s;
    transform: scale(1.2);
}

#email:hover {
    color: #0072C6;
    transition: 0.5s;
    transform: scale(1.2);
}

#calculadora:hover {
    border-radius: 25px;
    transition: 0.5s;
    transform: scale(1.2);
}

@media screen and (max-width: 820px) {
    header h1 {font-size: 25px; margin-right: 10%;}
    h1, i {font-size: 20px}
    p {font-size: 15px}
    .conteudo{padding: 20px;}
    img {
        margin: 5px;
        max-width: 500px;
        width: auto;
        height: auto;
    }
    
}

@media screen and (max-width: 412px) {
    header h1 {font-size: 20px; margin-left: 20%; margin-right: 10%;}
    .conteudo{padding: 20px;}
    h1, i {font-size: 15px}
    p {font-size: 12px}
    img {
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 350px;
        width: auto;
        height: auto;
    }
}